.App {
  text-align: center;
  padding: 15px;
}
Header{
  font-family: 'Krona One', sans-serif;
  margin-bottom: 0.25cm;
  color: rgb(194, 184, 184);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.column{
  border-right: 6px solid gray;
  background-color: transparent;
  border-radius: 12px;
}
.column button{
  margin: 0.2cm;
}
.column input{
  margin: auto;
  width: 70%;
  margin-bottom: 0.2cm;
}
.column h2{
  font-family: 'Krona One', sans-serif;
  margin-top: 0.25cm;
  color: gray;
}
.heading{
  position: sticky;
}
.sticky-name{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.sticky-count{
}
.heading input{
  background-color: rgb(192, 190, 190);
}
.heading button{
  background-color: rgb(131, 114, 114);
  cursor: pointer;
}
.add-column{
  border-top: 3px solid black;
  cursor: pointer;
  background-color:transparent;
  border-bottom: 3px solid black;
}
.add-row{
  border-top: 3px solid black;
  cursor: pointer;
  background-color:rgb(145, 144, 144);
  border-bottom: 3px solid black;
}

.field{
  margin: 0.1cm;
  background-color: transparent;  
}
.field input{
  width: 50%;
  background-color: rgb(207, 204, 204);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100% !important;
    border: 0;
    border-bottom: 6px solid gray;
  }
  .add-column,.add-row{
    width: 100% !important;
  }
}