.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.column{
  background-color: rgb(151, 150, 150);
}
.column h2{
  background-color: rgb(131, 131, 131);;
}
.heading{
  background-color: rgb(180, 179, 179);
}
.heading input{
  background-color: rgb(192, 190, 190);
}
.heading button{
  background-color: rgb(131, 114, 114);
  cursor: pointer;
}
.add-column{
  border-top: 3px solid black;
  cursor: pointer;
  background-color:transparent;
  border-bottom: 3px solid black;
}
.add-row{
  border-top: 3px solid black;
  cursor: pointer;
  background-color:rgb(145, 144, 144);
  border-bottom: 3px solid black;
}

.field{
  border-bottom: 3px solid black;
  background-color: rgb(151, 150, 150);
}
.field input{
  width: 50px;
  background-color: rgb(192, 190, 190);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100% !important;
  }
  .add-column,.add-row{
    width: 100% !important;
  }
}